body{
    margin:0;
    font-family:Segoe UI;
    background:#f5f5f7;
    }

    /* HEADER */
    .header{
    height:60px;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 20px;
    border-bottom:1px solid #ddd;
    }

    .header-center{
    font-weight:bold;
    }

    .header-right{
    display:flex;
    gap:20px;
    }

    /* SIDEBAR */
    .layout{
    display:flex;
    }

    .sidebar{
    width:200px;
    background:white;
    border-right:1px solid #ddd;
    }

    .sidebar div{
    padding:15px;
    cursor:pointer;
    }

    .sidebar div:hover{
    background:#eee;
    }

    .hidden{
    display:none;
    }

    /* CONTENT */
    .content{
    flex:1;
    padding:20px;
    }

    /* CARDS */
    .cards{
    display:flex;
    gap:20px;
    }

    .card{
    background:white;
    padding:20px;
    border-radius:10px;
    flex:1;
    text-align:center;
    }

    /* ATTENDANCE BOX */
    .attendance-box{
    background:white;
    padding:20px;
    border-radius:10px;
    width:400px;
    }

    /* PROGRESS */
    .progress{
    display:flex;
    gap:10px;
    margin-top:20px;
    }

    .step{
    padding:10px;
    border-radius:6px;
    color:white;
    }

    .gray{background:gray;}
    .green{background:#34c759;}
    .red{background:#ff3b30;}
    .yellow{background:#ffcc00;color:black;}

    /* VIDEO */
    video{
    width:300px;
    margin-top:10px;
    }

    /* MODAL */
    .modal{
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
    }

    .modal-box{
    background:white;
    padding:20px;
    border-radius:10px;
    }